/legolas/.settings
/legolas/.gradle
/legolas/.settings
/legolas/bin
/legolas/.classpath
/legolas/.project
/legolasdemo/.classpath
/legolasdemo/.project
/legolasdemo/.settings
/legolasdemo/assets
/legolasdemo/bin
/legolasdemo/gen
